.chatbot-wrapper {
  display: flex;
  height: 100vh;
  background-color: #f3e5f5;
}

.chatbot-container {
  margin-left: 15%;
  width: 85%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.chat-section {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 80%;         /* بدل 90% */
  max-width: 700px;   /* بدل 800px */
  height: 500px;      /* بدل 600px */
  padding: 15px;      /* بدل 20px */
}


.chat-header {
  background-color: #6a1b9a;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-family: 'Comic Sans MS', cursive;
}

.chat-messages {
  flex: 1;
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
  margin-top: 20px;
  padding: 10px;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
}

.message-text {
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  position: relative;
  font-family: 'fredoka' sans-serif;
  font-weight: 500;
}

.message.user .message-text {
  background-color: #F2DDFF; 
  color: #6a1b9a;
}

.message.bot .message-text {
  background-color: #B8B8D1; 
  color: black;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
} 

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 80%;         
  max-width: 700px;   
  padding: 1px 10px; 
  margin-top: 10px;   
}

input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Comic Sans MS', cursive;
}

input::placeholder {
  color: #6a1b9a;
}

.send-button img {
  width: 40px;
  height: 30px;
  margin-left: 10px;
}
.send-button {
  border: none;
  outline: none;
  background: transparent; /* أو لون الخلفية اللي انتي عايزاه */
  cursor: pointer;
}
