@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
.features {
    background: #F2DDFF;
    padding: 50px 20px;
    text-align: center;
    color: #4b0082;
  }
  
  .features h2 {
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Germania One' ,sans-serif;
    font-weight: 1000;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: auto;
    font-family: 'Fredoka', sans-serif;
  }
  
  .feature {
    padding: 20px;
    border-radius: 10px;
    margin-top: 100px;
  }
  .button{
    background:  #4b0082;
    color: #FFC145 ;
    margin-top: 20px;
    padding: 12px 24px;
    border-radius: 5px; 
    width: 250px;
    text-align: center;
    font-size: 16px;
    font-family: 'Germania One', cursive;
  }