.header {
  background: #2E0452;
  display: flex
;
  justify-content: flex-start;
  padding: 10px 20px;
  align-items: center;
  }
.logo{
    height: 50px;
  }
 
  .languagehome{
    position: absolute;
    right: 30px;
  }
  
  .language-icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 50px;
    position: absolute;
    right: 30px;
  }

  [dir="rtl"] .language-switcher {
    right: auto;
    left: 20px;
  }
  
  [dir="rtl"] .language-switcher button {
    margin-left: 0;
    margin-right: 10px;
  }

  [dir="rtl"] .language-icon-btn  {
    right: auto;
    left: 20px;
  }
  [dir="rtl"] .languagehome {
    right: auto;
    left: 190px;
  }