.custom-language-switcher {
  position: relative;
  display: inline-block;
}

.language-options {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f2ddff;
  border: 1px solid #c4a8f7;
  border-radius: 8px;
  padding: 0.5rem 0;
  list-style: none;
  z-index: 999;
  width: clamp(120px, 40vw, 150px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.language-options li {
  padding: clamp(8px, 2vw, 10px) clamp(12px, 3vw, 15px);
  cursor: pointer;
  font-weight: bold;
  color: #4b1665;
  font-size: clamp(14px, 3.5vw, 16px);
}

.language-options li:hover {
  background-color: #e6cfff;
}

@media (max-width: 768px) {
  .language-options {
      width: clamp(100px, 50vw, 130px);
      right: 0;
  }
}

@media (max-width: 480px) {
  .custom-language-switcher {
      width: 100%;
      text-align: right;
  }
  
  .language-options {
      /* width: 100%; */
      max-width: 200px;
      top: calc(100% + 5px);
  }
}