  .Llogin-page {
    background-image: url("../components/images/Login bgsvg.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .Llogin-page-ar {
    background-image: url("../components/images/LoginArabic.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  @media (max-width: 768px) {
    .Llogin-page,
    .Llogin-page-ar {
      background-size: cover;
      min-height: 100vh
    }
  }
  
  @media (max-width: 480px) {
    .Llogin-page,
    .Llogin-page-ar {
      background-size: cover;
      min-height: 100vh
    }
  }