@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap');

.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #E9D5FF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0; 
}

.Ltitle {
  margin-bottom: 20px;
  text-align: center;
}

.logoo {
  display: block;
  width: 150px;
  height: auto;
  margin: 20px auto;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 10px 0;
}

.menu-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 10px;
  font-size: 18px;
  color: #B8B8D1;
  font-weight: normal;
  cursor: pointer;
  transition: font-weight 0.3s ease, color 0.3s ease;
  width: 100%;
  text-align: left;
}

.menu-button.active {
  font-weight: bold;
  color: #5B287C;
}

.menu-button :hover{
  font-size: 20px;
}

.menu-button.active .menu-icon {
  opacity: 1;
}

.menu-button .menu-icon {
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.menu-icon {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  transition: opacity 0.3s ease;
}

.menu-label {
  font-family: 'Germania One', cursive;
}

.menu-label.bold-text {
  font-weight: bold;
}

[dir="rtl"] .sidebar {
  left: auto;
  right: 0; 
}

[dir="rtl"] .menu {
    padding-right: 30px;
  }

[dir="rtl"] .menu-button {
  text-align: right;
}

[dir="rtl"] .menu-icon {
  margin-right: 0;
  margin-left: 10px;
}

[dir="rtl"] .menu-label {
  font-family: 'Noto Sans Arabic', sans-serif;
}

