.Ppagecontainer{
    display: flex;
    background-color: #F3E8FF;
    min-height: 100vh;
}
  
.p{
    padding: 40px;
    display: flex;
    align-items: center;
    margin-left: 15%; /* نفس عرض الـ sidebar */
    width: 85%; /* تأكدي من أن العرض يأخذ باقي الصفحة */
    /* padding: 20px; يعطي مساحة داخلية جميلة */
}