.Rhome-page {
    background-image: url("../components/images/register_bg.svg"); /* استبدل بالمسار الصحيح */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll; /* هذا يجعل الخلفية تتحرك مع الصفحة */
    width: 100%;
    height: 140vh;
  }
  