.Rhome-page {
  background-image: url("../components/images/register_bg_2.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .Rhome-page {
    background-size: cover;
    min-height: 100vh
  }
}

@media (max-width: 480px) {
}