.quiz-review-container {
  background-image: url("../components/images/video_bg.svg"); 
  background-color: #f2ddff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%; 
  max-width: 100%; /* حتى لا يتجاوز عرض الشاشة */
  min-height: 100vh; /* ليغطي الشاشة بالكامل في البداية */
  height: auto; /* للسماح بالتمرير عند الحاجة */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* يبدأ المحتوى من الأعلى */
  padding: 10px;
  overflow-y: auto; /* تفعيل التمرير العمودي عند الحاجة */
}

.quiz-review-container h1 {
  color: #5B287C; /* Dark purple for title */
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Germania One', cursive;
}

.quiz-box-review {
  background-color: #5B287C;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid #9370DB; 
  align-items: center;
}
.Reviewheader{
  background-color: #f2ddff;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}

.question-box {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
  align-items: center;
  padding: 1px;
  padding-left: 18px;
  padding-bottom: 10px;
}

.question-text {
  font-weight: bold;
  color: black;
}

.options-container {
  margin-top: 10px;
  /* color: black; */
}

.option {
  padding: 5px;
  border-radius: 5px;
}

.option.user-answer {
  color: #FF6B6C; /* Yellow for user answer */
}

.option.correct-answer {
  color: #009082;  }

.buttons-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

/* .lbutton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5B287C; 
  color: #FFC145;
  border: #FFC145;
  cursor: pointer;
} */

.lbutton {
  background-color: #FFC145;
  color: #5B287C;
  cursor: pointer;
  padding: 15px 90px;
  border-radius: 5px;
  font-family: 'Germania One', cursive;
  /* border: none; */
  outline: none;
  font-size: 18px;
}


.pbutton {
  padding: 15px 70px;
  border: 2px solid #FFC145; /* تصحيح الحدود */
  border-radius: 5px;
  background-color: #5B287C; 
  color: #FFC145;
  cursor: pointer;
  font-family: 'Germania One', cursive;
  /* border: none; */
  outline: none;
  font-size: 18px;
}