.verify-email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f9;
  }
  
  .success-message {
    color: green;
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  
  .error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 1rem;
  }