.lesson-container {
    background-color: #f2ddff;
    background-image: url("./images/video_bg.svg"); /* ضع صورة الخلفية */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lesson-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.lesson-header {

    color: white;
    padding: 10px;
    border-radius: 5px;
}

.video-container {
    margin: 20px 0;
}

video {
    width: 100%;
    border-radius: 10px;
}

.quiz-button {
    background-color: #FBBF24;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 650px;
}

.quiz-button:hover {
    background-color: #d89f1b;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .back-icon {
    width: 40px;  /* حجم الأيقونة */
    height: 40px;
  }
  
  .back-button:hover .back-icon {
    opacity: 0.7; /* تأثير عند التمرير */
  }
  